.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top : 15vh;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;

}
.tabContainer {
    max-height: 70vh;
    background: inherit;
    color: inherit;
}


@media only screen and (max-width: 770px) {
    .container {
        width: 50%;
        margin : 1vh 0;
    }
}