.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin : 5vh auto;
    width: 70vw;

}
.tabContainer {
    max-height: 70vh;
    background: inherit;
    color: inherit;
}


@media only screen and (max-width: 770px) {
    .container {
        width: 60vw;
        margin : 1vh auto;
        padding : 'none';
    }
}