.container{
    height: 70vh;
    width: 70vw;
    margin : 0 auto;
    font-size : 130%;    
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.container path {
    stroke : #fafafa;
    stroke-width: 3;
    stroke-opacity: 0.5;
    
}
.container path:hover {
    opacity: 0.5;
    transition-duration: .3s;
}
@media only screen and (max-width: 770px) { /* for mobile */
    .container {
      width: 90%;
      height: 90%;
    }
}