.container{
    margin-top : 2vh;
    margin-bottom : 1vh;
    align-items: center;
    width: 70vw;
    margin : auto auto;
}
.li {

}
.li a, .a{
    text-decoration: none;
    color : black;
}
.liItem:hover{
    background : #c0c0c0;
}